@model DFC.Digital.Web.Sitefinity.Widgets.Mvc.Models.SendGridViewModel

<div>
<h1 class="heading-xlarge">Send Grid Result</h1>

<div id="workArea" class="sfWorkArea">



    <p>Below is the result of your request.</p>

    <p>@Model.SendResult</p>
</div>
</div>