@model DFC.Digital.Web.Sitefinity.Widgets.Mvc.Models.EmailSubmissionViewModel

<div id="vocExit_survey-done" class="">

    <h2 class="heading-small">@Model.ResponseMessage</h2>
    <a href="#1" onclick="vocExit.hideOrReset()">Close</a>
</div>