@model DFC.Digital.Web.Sitefinity.Widgets.Mvc.Models.SetContentRelatedPageTitleModel
@if (Model.DisplayView)
{
    <div class="govuk-width-container content-container">
        <p class="text-secondary font-xsmall">
            Placing this widget on a page template, will enable content related page titles on the Job profile, Job category and Search results pages.
        </p>
    </div>
}