@* Top Full Width Content Block *@

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group">
            <div class="search-header">
                <div class="searchfield">
                    <div class="search-input">
                        <label for="search-main">
                            <h1 class="search-title">
                                Showing 148 results for <span class="govuk-visually-hidden">plumbing</span>
                            </h1>
                        </label>
                        <input placeholder="Search for courses" class="search-input" id="search-main" type="search" value="plumbing" />
                    </div>
                    <div class="search-submit"><button type="submit" class="button">Search</button></div>
                </div>
            </div>
        </div>
    </div>
</div>

@* Filter Section - Within 1/3 Content Block *@
<div class="filters">
    <button type="submit" class="govuk-button filter-button">Filter 1</button><button type="submit" class="govuk-button filter-button  active">Filter 2</button><div class="filter-box">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="option-1" name="option 1" type="checkbox" value="Option1"><label class="govuk-label govuk-checkboxes__label govuk-!-font-size-16" for="Option-1">
                        Option 1
                    </label>
                </div><div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="option-2" name="option 2" type="checkbox" value="Option2"><label class="govuk-label govuk-checkboxes__label govuk-!-font-size-16" for="Option-2">
                        Option 2
                    </label>
                </div><div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="option-3" name="option 3" type="checkbox" value="Option3"><label class="govuk-label govuk-checkboxes__label govuk-!-font-size-16" for="Option-3">
                        Option 3
                    </label>
                </div><div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="option-4" name="option 4" type="checkbox" value="Option4"><label class="govuk-label govuk-checkboxes__label govuk-!-font-size-16" for="Option-4">
                        Option 4
                    </label>
                </div><div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="option-5" name="option 5" type="checkbox" value="Option5"><label class="govuk-label govuk-checkboxes__label govuk-!-font-size-16" for="Option-5">
                        Option 5
                    </label>
                </div><div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="option-6" name="option 6" type="checkbox" value="Option6"><label class="govuk-label govuk-checkboxes__label govuk-!-font-size-16" for="Option-6">
                        Option 6
                    </label>
                </div>
            </div>
        </fieldset>
    </div><button type="submit" class="govuk-button filter-button  active">Filter 3</button><div class="filter-box">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <div class="govuk-radios">
                <div class="govuk-form-group">
                    <div class="search-header">
                        <div class="searchfield">
                            <div class="search-input">
                                <label for="search-main" class="govuk-heading-s govuk-!-margin-0">Postcode</label>
                                <input placeholder="Your postcode" class="search-input" id="search-main" type="search" value="">
                            </div><div class="search-submit"><button type="submit" class="button">Search</button></div>
                        </div>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="option-1" name="option 1" type="radio" value="Option1"><label class="govuk-label govuk-radios__label govuk-!-font-size-16" for="Option-1">10 miles</label>
                    </div><div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="option-1" name="option 1" type="radio" value="Option1"><label class="govuk-label govuk-radios__label govuk-!-font-size-16" for="Option-1">15 miles</label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div><button type="submit" class="govuk-button filter-button">Filter 4</button>
</div>

@* Main 2/3 Section - Containing Search Results *@
<h3 class="govuk-body-s govuk-!-margin-bottom-1">Showing 1 - 10 of 148 results</h3>
<hr class="govuk-section-break govuk-section-break--visible" />
<div class="govuk-!-margin-top-6 govuk-!-margin-bottom-6">
    <h2 class="govuk-heading-m"><a class="govuk-link" href="#">Plumbing Level 2</a></h2>
    <ul class="govuk-list">
        <li>
            Level 2
        </li>
        <li>
            Classroom-based | Normal working hours
        </li>
        <li class="govuk-!-margin-top-3">
            <span class="govuk-secondary-colour">Provider:</span> Marine Academy Plymouth
        </li>
        <li>
            <span class="govuk-secondary-colour">Location:</span> Burrington Business Park, Plymouth, Devon, PL5 3LX
        </li>
        <li>
            <span class="govuk-secondary-colour">Start date:</span> 4 September 2019
        </li>
        <li>
            <span class="govuk-secondary-colour">Duration:</span> 1 Year
        </li>
    </ul>
</div>
<hr class="govuk-section-break govuk-section-break--visible" />
<div class="govuk-!-margin-top-6 govuk-!-margin-bottom-6">
    <h2 class="govuk-heading-m"><a class="govuk-link" href="#">Plumbing Level 2</a></h2>
    <ul class="govuk-list">
        <li>
            Level 2
        </li>
        <li>
            Classroom-based | Normal working hours
        </li>
        <li class="govuk-!-margin-top-3">
            <span class="govuk-secondary-colour">Provider:</span> Marine Academy Plymouth
        </li>
        <li>
            <span class="govuk-secondary-colour">Location:</span> Burrington Business Park, Plymouth, Devon, PL5 3LX
        </li>
        <li>
            <span class="govuk-secondary-colour">Start date:</span> 4 September 2019
        </li>
        <li>
            <span class="govuk-secondary-colour">Duration:</span> 1 Year
        </li>
    </ul>
</div>
<hr class="govuk-section-break govuk-section-break--visible" />
<ul class="previous-next-navigation govuk-!-margin-top-3">
    <li class="next">
        <a href="#">
            <span class="pagination-label">Next</span>
            <span class="govuk-visually-hidden">page</span>
            <span class="page-numbers">3 of 12</span>
        </a>
    </li>
    <li class="previous">
        <a href="#">
            <span class="pagination-label">Previous</span>
            <span class="govuk-visually-hidden">page</span>
            <span class="page-numbers">1 of 12</span>
        </a>
    </li>
</ul>