@model DFC.Digital.Web.Sitefinity.Widgets.Mvc.Models.DfcBreadcrumbViewModel

<div class="content-container">
    <div class="breadcrumbs">
        <ol>
            <li><a href="@Model.HomepageLink">@Model.HomepageText</a></li>
            <li>@Model.BreadcrumbPageTitleText</li>
        </ol>
    </div>
</div>