@model DFC.Digital.Web.Sitefinity.Widgets.Mvc.Models.DfcBreadcrumbViewModel

<div class="content-container">
    <div class="breadcrumbs">
        <ol>
            <li><a href="@Model.HomePageLink">@Model.HomePageText</a></li>
            <li>@Model.BreadcrumbedPageTitleText</li>
        </ol>
    </div>
</div>