@model DFC.Digital.Web.Sitefinity.JobProfileModule.Mvc.Models.JobProfileWhatItTakesViewModel
<section class="job-profile-subsection" id="@Html.Raw(Model.SectionId)">
    <h2 class="heading-large">@Html.Raw(Model.Title)</h2>
    @Html.Partial("WhatItTakesSkills", Model.JobProfileWhatItTakesSkillsViewModel)
    @if (Model.IsWhatItTakesCadView)
    {
        @Html.Partial("RestrictionsRequirements", Model.RestrictionsOtherRequirements)
    }
</section>