<ul class="sfForm">
    <li class="sfFormSeparator" style="padding-bottom: 15px;">

        <label for="prop-Title">Section Title</label>
        <div>
            <input class="form-control" ng-model="properties.Title.PropertyValue" type="text" />
        </div>
    </li>
    <li class="sfFormSeparator" style="padding-bottom: 15px; padding-top: 5px">

        <label for="prop-SectionContent">Top Section Content</label>
        <div>
            <sf-html-field class="kendo-content-block" sf-template-url="Mvc/Views/JobProfileSection/custom-html-field-template.sf-cshtml" sf-template-assembly="DFC.Digital.Web.Sitefinity.JobProfileModule" sf-model="properties.TopSectionContent.PropertyValue"></sf-html-field>
        </div>
    </li>

    <li class="sfFormSeparator" style="padding-bottom: 15px; padding-top: 5px">
        <label for="prop-PropertyName">Property Name</label>

            <select name="singleSelect" ng-model="properties.PropertyName.PropertyValue">
                <option value="HowToBecome">How To Become</option>
                <option value="WhatYouWillDo">What you'll do</option>
                <option value="Skills">Skills Required To Become</option>
                <option value="Salary">Salary</option>
                <option value="WorkingHoursPatternsAndEnvironment">Working hours patterns and environment</option>
                <option value="CareerPathAndProgression">Career path and progression</option>
            </select><br>
    </li>

    <li class="sfFormSeparator" style="padding-bottom: 15px; padding-top: 5px">

        <label for="prop-SectionContent">Bottom Section Content</label>
        <div>
            <sf-html-field class="kendo-content-block" sf-template-url="Mvc/Views/JobProfileSection/custom-html-field-template.sf-cshtml" sf-template-assembly="DFC.Digital.Web.Sitefinity.JobProfileModule" sf-model="properties.BottomSectionContent.PropertyValue"></sf-html-field>
        </div>
    </li>
</ul>