.ec-hero {
    background-color: #005ea5;
    color: #ffffff;
    padding: 40px 0;

    * {
        color: #ffffff;
    }

    input, select {
        border: none !important;
        color: black;
    }

    option {
        color: black;
    }

    button {
        background-color: black;

        &:hover {
            background-color: black;
            text-decoration: underline;
        }
    }
}

.govuk-header__container {
    border-bottom: 10px solid transparent;
}

.govuk-header  {
    border-bottom: none;
}