@model ApprenticeshipVacancyReportViewModel
@using DFC.Digital.Web.Core
@using NonFactors.Mvc.Grid
@using Telerik.Sitefinity.Frontend.Mvc.Helpers
@Html.StyleSheet(Html.VersionAssetFile(Url.Content("~/ResourcePackages/gds_toolkit/assets/dist/css/mvc-grid.css")))
<section>

    <div>

        <div id="jobProfileReports" , style="margin:10px">
            <h1>Apprenticeship Vacancy Report</h1>
            <p>Report date - @DateTime.Now</p>
            <p>Took @Model.ExecutionTime to compile this report.</p>

            @(Html
                                        .Grid(Model.ReportData)
                                                            .Build(columns =>
                                                            {
                                                                columns.Add(model => model.JobProfile.Title).Titled("Title");
                                                                columns.Add(model => model.SocCode.SOCCode).Titled("SOC");
                                                                columns.Add(model => model.SocCode.Description).Titled("SOC Description");
                                                                columns.Add(model => string.Join(",", model.SocCode.Standards == null ? new List<string>() : model.SocCode.Standards.ToList())).Titled("Standards");
                                                                columns.Add(model => string.Join(",", model.SocCode.Frameworks == null ? new List<string>() : model.SocCode.Frameworks.ToList())).Titled("Frameworks");
                                                                columns.Add(model => model.ApprenticeshipVacancies.Take(1) == null ? "&nbsp;" : $"{model.ApprenticeshipVacancies.Take(1).FirstOrDefault().Title} - {model.ApprenticeshipVacancies.Take(1).FirstOrDefault().LastModifiedBy}").Titled("Apprenticeship 1");
                                                                columns.Add(model => model.ApprenticeshipVacancies.Take(1) == null ? "&nbsp;" : $"{model.ApprenticeshipVacancies.Take(1).FirstOrDefault().Status} - {model.ApprenticeshipVacancies.Take(1).FirstOrDefault().LastModified}").Titled("Apprenticeship 1");
                                                                columns.Add(model => model.ApprenticeshipVacancies.Skip(1).Take(1) == null ? "&nbsp;" : model.ApprenticeshipVacancies.Skip(1).Take(1).FirstOrDefault().Title).Titled("Apprenticeship 2");

                                                            })
                                                            .Empty("No data found")
                                                            .Filterable()
                                                            .Sortable()
                                                            .Pageable(pager =>
                                                            {
                                                                pager.RowsPerPage = 800;
                                                            })
            )

        </div>
        <script type="text/javascript" src="/ResourcePackages/gds_toolkit/assets/dist/js/mvc-grid.min.js"></script>
        <script>
            $(document).ready(function () {
                $(".sfFooter").hide();
                $('.mvc-grid').mvcgrid();
            });
        </script>
    </div>
</section>