@model ApprenticeshipVacancyReportViewModel
@using NonFactors.Mvc.Grid
<section>
    
    <div>

        <div id="jobProfileReports" , style="margin:10px">
            <h1>Apprenticeship Vacancy Report</h1>
            <p>Report date - @DateTime.Now</p>
            <p>Took @Model.ExecutionTime to compile this report.</p>
           
            @(Html
                .Grid(Model.ReportData)
                .Build(columns =>
                {
                    columns.Add(model => model.JobProfile.Title).Titled("Title");
                    columns.Add(model => model.SocCode.SOCCode).Titled("SOC");
                    columns.Add(model => model.SocCode.Description).Titled("SOC Description");
                    columns.Add(model => string.Join(",", model.Standards == null ? new List<string>() : model.Standards.ToList())).Titled("Standards");
                    columns.Add(model => string.Join(",", model.Frameworks == null ? new List<string>() : model.Frameworks.ToList())).Titled("Frameworks");

                }).Empty("No data found")
                .Filterable()
                .Sortable()
                .Pageable()
            )
        </div>
        <script type="text/javascript" src="/ResourcePackages/gds_toolkit/assets/dist/js/mvc-grid.js"></script>
        <script>
            $(document).ready(function () {
                $(".sfFooter").hide();
                $('.mvc-grid').mvcgrid();
            });
        </script>
    </div>
</section>