@model DFC.Digital.Web.Sitefinity.ContactUsModule.Mvc.Models.ContactUsViewModel
<form id="userform" action="@Model.NextPageUrl" method="post">
    <div class="govuk-form-group">
        <label class="govuk-label" for="more-detail">Include links to the problem page and any page headings. This will help us to fix the issue more quickly.</label>
        <span id="more-detail-hint" class="govuk-hint">Do not include any personal or sign in information.</span>
        @Html.TextAreaFor(m => Model.Message, htmlAttributes: new {@rows=5,  @id = "control-label col-md-2", @name= "more-detail", @aria_describedby="more-detail-hint" })
    </div>
    <p class="govuk-body-s">Character limit is 1000.</p>
    <div class="govuk-form-group">
        <button type="submit" class="govuk-button">
            Continue
        </button>
    </div>
</form>