<ul class="sfForm">
    <li class="sfFormSeparator" style="padding-bottom: 15px;">

        <label for="prop-Title">Main Section Title</label>
        <div>
            <input class="form-control" ng-model="properties.MainSectionTitle.PropertyValue" type="text" />
        </div>
    </li>
    <li class="sfFormSeparator" style="padding-bottom: 15px;">

        <label for="prop-Title">Section Id - for anchor link href target</label>
        <div>
            <input class="form-control" ng-model="properties.SectionId.PropertyValue" type="text" />
        </div>
    </li>

    <li class="sfFormSeparator" style="padding-bottom: 15px;">

        <h4 for="prop-Title">UNIVERSITY ROUTE SETTINGS</h4>
    </li>
    <li class="sfFormSeparator" style="padding-bottom: 15px;">

        <label for="prop-Title">University Title</label>
        <div>
            <input class="form-control" ng-model="properties.SubsectionUniversity.PropertyValue" type="text" />
        </div>
    </li>

    <li class="sfFormSeparator" style="padding-bottom: 15px;">

        <label for="prop-Title">Requirements</label>
        <div>
            <input class="form-control" ng-model="properties.SubsectionUniversityRequirements.PropertyValue" type="text" />
        </div>
    </li>
    <li class="sfFormSeparator" style="padding-bottom: 15px;">

        <label for="prop-Title">More Information</label>
        <div>
            <input class="form-control" ng-model="properties.SubsectionUniversityMoreInformation.PropertyValue" type="text" />
        </div>
    </li>
    <li class="sfFormSeparator" style="padding-bottom: 15px;">

        <h4 for="prop-Title">COLLEGE ROUTE SETTINGS</h4>
    </li>
    <li class="sfFormSeparator" style="padding-bottom: 15px;">

        <label for="prop-Title">College Title</label>
        <div>
            <input class="form-control" ng-model="properties.SubsectionCollege.PropertyValue" type="text" />
        </div>
    </li>

    <li class="sfFormSeparator" style="padding-bottom: 15px;">

        <label for="prop-Title">Requirements</label>
        <div>
            <input class="form-control" ng-model="properties.SubsectionCollegeRequirements.PropertyValue" type="text" />
        </div>
    </li>
    <li class="sfFormSeparator" style="padding-bottom: 15px;">

        <label for="prop-Title">More Information</label>
        <div>
            <input class="form-control" ng-model="properties.SubsectionCollegeMoreInformation.PropertyValue" type="text" />
        </div>
    </li>
    <li class="sfFormSeparator" style="padding-bottom: 15px;">

        <h4 for="prop-Title">APPRENTICESHIPS ROUTE SETTINGS</h4>
    </li>
    <li class="sfFormSeparator" style="padding-bottom: 15px;">

        <label for="prop-Title">Apprenticeships Title</label>
        <div>
            <input class="form-control" ng-model="properties.SubsectionApprenticeship.PropertyValue" type="text" />
        </div>
    </li>

    <li class="sfFormSeparator" style="padding-bottom: 15px;">

        <label for="prop-Title">Requirements</label>
        <div>
            <input class="form-control" ng-model="properties.SubsectionApprenticeshipRequirements.PropertyValue" type="text" />
        </div>
    </li>
    <li class="sfFormSeparator" style="padding-bottom: 15px;">

        <label for="prop-Title">More Information</label>
        <div>
            <input class="form-control" ng-model="properties.SubsectionApprenticeshipMoreInformation.PropertyValue" type="text" />
        </div>
    </li>

    <li class="sfFormSeparator" style="padding-bottom: 15px;">

        <h4 for="prop-Title">FURTHER ROUTES SETTINGS</h4>
    </li>
  
    <li class="sfFormSeparator" style="padding-bottom: 15px;">

        <label for="prop-Title">Work Title</label>
        <div>
            <input class="form-control" ng-model="properties.SubsectionWork.PropertyValue" type="text" />
        </div>
    </li>

    <li class="sfFormSeparator" style="padding-bottom: 15px;">

        <label for="prop-Title">Volunteering Title</label>
        <div>
            <input class="form-control" ng-model="properties.SubsectionVolunteering.PropertyValue" type="text" />
        </div>
    </li>
    <li class="sfFormSeparator" style="padding-bottom: 15px;">

        <label for="prop-Title">Direct Application Title</label>
        <div>
            <input class="form-control" ng-model="properties.SubsectionDirectApplication.PropertyValue" type="text" />
        </div>
    </li>
    <li class="sfFormSeparator" style="padding-bottom: 15px;">

        <label for="prop-Title">Other Routes Title</label>
        <div>
            <input class="form-control" ng-model="properties.SubsectionOtherRoutes.PropertyValue" type="text" />
        </div>
    </li>
    <li class="sfFormSeparator" style="padding-bottom: 15px;">

        <h4 for="prop-Title">MORE INFORMATION SETTINGS</h4>
    </li>
    <li class="sfFormSeparator" style="padding-bottom: 15px;">

        <label for="prop-Title">More Information Title</label>
        <div>
            <input class="form-control" ng-model="properties.SubsectionMoreInfo.PropertyValue" type="text" />
        </div>
    </li>


    <li class="sfFormSeparator" style="padding-bottom: 15px;">

        <label for="prop-Title">Registrations Title</label>
        <div>
            <input class="form-control" ng-model="properties.SubsectionMoreInfoRegistration.PropertyValue" type="text" />
        </div>
    </li>
    <li class="sfFormSeparator" style="padding-bottom: 15px;">

        <label for="prop-Title">Registration Opening Text</label>
        <div>
            <input class="form-control" ng-model="properties.SubsectionMoreInfoRegistrationOpeningText.PropertyValue" type="text" />
        </div>
    </li>


    <li class="sfFormSeparator" style="padding-bottom: 15px;">

        <label for="prop-Title">Career Tips Title</label>
        <div>
            <input class="form-control" ng-model="properties.SubsectionMoreInfoTips.PropertyValue" type="text" />
        </div>
    </li>
    <li class="sfFormSeparator" style="padding-bottom: 15px;">

        <label for="prop-Title">Professional and Industry Bodies Title</label>
        <div>
            <input class="form-control" ng-model="properties.SubsectionMoreInfoBodies.PropertyValue" type="text" />
        </div>
    </li>
    <li class="sfFormSeparator" style="padding-bottom: 15px;">

        <label for="prop-Title">Further Information Title</label>
        <div>
            <input class="form-control" ng-model="properties.SubsectionMoreInfoFurtherInfo.PropertyValue" type="text" />
        </div>
    </li>

</ul>

<script type="text/javascript">
    $('.modal-dialog').attr('style', 'width: 980px');
</script>