@model DFC.Digital.Web.Sitefinity.JobProfileModule.Mvc.Models.JobProfileSearchBoxViewModel
<search>
    @using (Html.BeginForm("Search", "JobProfileSearchBox", FormMethod.Post, new { id = "header-search", @class = "site-search ui-front" }))
    {
        <section class="primary-hero">
            <div class="govuk-width-container">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        @Html.LabelFor(model => model.SearchTerm, Model.PlaceholderText)

                        <div class="search-input-wrapper">
                            @Html.TextBoxFor(model => model.SearchTerm, new
                            {
                                                                               @class = "govuk-input search-input js-search-focus focus js-autocomplete",
                                                                               @type = "search",
                                                                               data_autocomplete_minlength = Model.AutoCompleteMinimumCharacters,
                                                                               data_autocomplete_maxlength = Model.AutoCompleteMaximumCharacters,
                                                                               data_autocomplete_source = "/searchautocomplete",
                                                                               data_autocomplete_maxnumberdisplyed = Model.MaximumNumberOfDisplayedSuggestions,
                                                                               data_autocomplete_fuzzysearch = Model.UseFuzzyAutoCompleteMatching
                                                                           })
                        </div>
                        <button class="submit govuk-button" type="submit" value="Search">Search</button>
                    </div>
                </div>
            </div>
        </section>
    }
</search>
