@model DFC.Digital.Web.Sitefinity.JobProfileModule.Mvc.Models.JobProfileSearchBoxViewModel

@using (Html.BeginForm("Search", "JobProfileSearchBox", FormMethod.Post, new { id = "header-search", @class = "site-search ui-front" }))
{
    <div class="header-search-content">
        @Html.LabelFor(model => model.SearchTerm, Model.PlaceHolderText)

        <div class="search-input-wrapper">
            @Html.TextBoxFor(model => model.SearchTerm, new {
                                                                   @class = "search-input js-search-focus focus js-autocomplete",
                                                                   @type = "search",
                                                                   data_autocomplete_minlength = Model.AutoCompleteMinimumCharacters,
                                                                   data_autocomplete_source = "/searchautocomplete",
                                                                   data_autocomplete_maxnumberdisplyed = Model.MaximumNumberOfDisplayedSuggestions,
                                                                   data_autocomplete_fuzzysearch = Model.UseFuzzyAutoCompleteMatching
                                                               })
        </div>
        <input class="submit" type="submit" value="Search">
    </div>
}