@model DFC.Digital.Web.Sitefinity.JobProfileModule.Mvc.Models.JobProfileSearchBoxViewModel

<div class="job-profile-search">
    <h3 class="heading-small">@Model.HeaderText</h3>
    @using (Html.BeginForm("Search", "JobProfileSearchBox", FormMethod.Post, new { id = "job-profile-search-box", @class = "js-live-search-form site-search  ui-front" }))
    {
        <div class="job-profile-search-content">
            <label for="search-main"> @Model.PlaceholderText</label>
            <div class="search-input-wrapper">
                @Html.TextBoxFor(model => model.SearchTerm, new { @class = "search-input js-search-focus js-autocomplete",
                                                                       @type = "search",
                                                                       @id = "search-main",
                                                                       data_autocomplete_minlength = Model.AutoCompleteMinimumCharacters,
                                                                       data_autocomplete_source = "/searchautocomplete",
                                                                       data_autocomplete_maxnumberdisplyed = Model.MaximumNumberOfDisplayedSuggestions,
                                                                       data_autocomplete_fuzzysearch = Model.UseFuzzyAutoCompleteMatching
                                                                   })
            </div>
            <button class="submit" type="submit" value="Search">Search</button>
        </div>
        @Html.HiddenFor(model => model.JobProfileUrl)
    }
</div>