@model DFC.Digital.Web.Sitefinity.ContactUsModule.Mvc.Models.ContactUsViewModel


<div class="grid-row">
    @using (Html.BeginForm("index", "SelectOption", FormMethod.Post, new { id = "form-select-option", @class = "form form-intro" }))
    {
        <div class="form-group">
            <div class="multiple-choice">

                @Html.RadioButtonFor(model => model.ContactOption, "ContactAdviser")<label for="adviser">Contact an adviser</label>
            </div>
        </div>
        <div class="form-group">
            <div class="multiple-choice">
                @Html.RadioButtonFor(model => model.ContactOption, "Technical")<label for="technical">Technical support</label>

            </div>
        </div>
        <div class="form-group">
            <div class="multiple-choice">
                @Html.RadioButtonFor(@model => model.ContactOption, "Feedback")<label for="feedback">Give feedback</label>
            </div>

        </div>
        <div class="form-group">

            <button type="submit" id="show-basic-details" class="button disable-button-onclick">Next</button>

        </div>
    }

</div>