
.search-title {
    @include govuk-font($size: 24, $weight: bold);
    padding-bottom: 10px
}

.search-header {
    position: relative;
    margin: 0;
    padding: 10px 0 15px;
    overflow: visible;

    @include govuk-media-query($until: tablet) {
        padding: 20px 0 30px;
        width: 100%;
    }

    .searchfield {
        position: relative
    }

    .search-input {
        position: static;
        margin: 0;
    }

    .search-submit {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 50px;
        width: 50px;
        overflow: visible;
    }

    input {
        border: 1px solid #bbb;
        -webkit-appearance: none;
        border-radius: 0;
        @include govuk-font($size: 19);
        font-size-adjust: 0.5;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding: 0 50px 0 10px;
        display: block;
        height: 50px;
        border-color: #bfc1c3;
        border-right: none;
    }

    button {
        boder-radius: 0;
        box-shadow: none;
        position: absolute;
        z-index: 4;
        right: 0;
        top: 0;
        width: 50px;
        height: 50px;
        border: none;
        overflow: hidden;
        text-indent: 50000px;
        color: white;
        background: govuk-colour("light-blue") govuk-image-url("icon-search-2x.png") no-repeat 60% 50%;
        background-size: 24px;
        cursor: pointer;

        &:hover {
            background-color: darken(govuk-colour("light-blue"), 5%);
        }

        &:focus {
            background-color: govuk-colour("light-blue");
        }

        &:active {
            top: 0;
        }
    }
}
