@model DFC.Digital.Web.Sitefinity.Widgets.Mvc.Models.LocationViewModel


<div class="content-container">
    <p><strong>Region : </strong>@Model.Region</p>
    <p><strong>IPAddress : </strong>@Model.IPAddress</p>
</div>

