User-agent: SemrushBot-SA
Disallow: /sitefinity/
Disallow: /health/
Disallow: /alerts/
Disallow: /ab/
Disallow: /webchat/
Disallow: /api/
Sitemap: https://__baseUrl__/sitemap/sitemap.xml

User-agent: *
Disallow: /