@model SkillsFrameworkImportViewModel
<div>
    <h1 class="sfBreadCrumb">
        @Html.Raw(Model.PageTitle)
    </h1>
    <div id="workArea" class="sfWorkArea">
        @if (Model.IsAdmin)
        {
            <p>@Html.Raw(Model.FirstParagraph)</p>
            <br />
            using (Html.BeginForm("", "SkillsFrameworkDataImport", FormMethod.Post))
            {
            <select name="importmode">
                <option value="updatesococcupationalcodes">Update SOCs with ONet Occupational Codes</option>
                <option value="importskills">Import ONet translated skills</option>
                <option value="resetsocimportstatus">Reset Soc Import Status</option>
            </select>
                <input class="submit sfLinkBtn sfSave" type="submit" value="Import Onet Data">
            }

            <div style="margin-top:20px">
                @using (Html.BeginForm("ImportJobProfile", "SkillsFrameworkDataImport", FormMethod.Post))
                {
                    <table style="padding:10px; width:600px" >
                        <tr>
                            <td>
                                <input type="text" style="height:25px" value="" name="jobprofilesoc">
                            </td>
                            <td>
                                <input class="submit sfLinkBtn sfSave" type="submit" value="Import skills for Job profiles by SOC">
                            </td>
                        </tr>
                    </table>
                }
            </div>

            <div style="margin-top:20px">

                <h2>You should run these options in the following order</h2>

                <ol>
                    <li>Update SOCs with ONet Occupational Codes</li>
                    <li>Import ONet translated skills</li>
                    <li>Import and link related skills to each Job profile</li>
                    <li>Reset Soc Import Status - ONLY DO THIS IF YOU WANT TO START AGAIN</li>
                </ol>
            </div>
        }
        else
        {
            <p>@Model.NotAllowedMessage</p>
        }
    </div>
</div>