<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <sectionGroup name="capabilities"
                  xdt:Transform="Insert">
      <section name="remote" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>
    <sectionGroup name="environments"
                  xdt:Transform="Insert">
      <section name="chrome" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="macchrome" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="firefox" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="macfirefox" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="safari" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="ie8" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="ie9" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="ie10" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="ie11" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="opera" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="edge" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="ipad" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="iphone" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="android" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>
  </configSections>
  <capabilities
    xdt:Transform="Insert">
    <remote>
      <add key="build" value="dfc.acceptance.debug.{today}" />
      <add key="name" value="{scenariotitle}" />
      <add key="browserstack.debug" value="true" />
      <add key="project" value="DFC.Digital" />
    </remote>
  </capabilities>
  <environments
    xdt:Transform="Insert">
    <chrome>
      <add key="os" value="WINDOWS" />
      <add key="os_version" value="8" />
      <add key="browserName" value="chrome" />
      <add key="version" value="62" />
    </chrome>
    <macchrome>
      <add key="os" value="OS X" />
      <add key="os_version" value="High Sierra" />
      <add key="browserName" value="chrome" />
      <add key="version" value="62" />
    </macchrome>
    <firefox>
      <add key="os" value="WINDOWS" />
      <add key="os_version" value="8.1" />
      <add key="browserName" value="firefox" />
      <add key="version" value="56" />
    </firefox>
    <macfirefox>
      <add key="os" value="OS X" />
      <add key="os_version" value="High Sierra" />
      <add key="browserName" value="firefox" />
      <add key="version" value="56" />
    </macfirefox>
    <safari>
      <add key="os" value="OS X" />
      <add key="os_version" value="High Sierra" />
      <add key="browserName" value="safari" />
      <add key="version" value="11" />
    </safari>
    <ie8>
      <add key="os" value="WINDOWS" />
      <add key="os_version" value="7" />
      <add key="browserName" value="internet explorer" />
      <add key="version" value="8" />
    </ie8>
    <ie9>
      <add key="os" value="WINDOWS" />
      <add key="os_version" value="7" />
      <add key="browserName" value="internet explorer" />
      <add key="version" value="9" />
    </ie9>
    <ie10>
      <add key="os" value="WINDOWS" />
      <add key="os_version" value="8" />
      <add key="browserName" value="internet explorer" />
      <add key="version" value="10" />
    </ie10>
    <ie11>
      <add key="os" value="WINDOWS" />
      <add key="os_version" value="10" />
      <add key="browserName" value="internet explorer" />
      <add key="version" value="11" />
    </ie11>
    <edge>
      <add key="os" value="WINDOWS" />
      <add key="os_version" value="10" />
      <add key="browserName" value="edge" />
      <add key="version" value="16" />
    </edge>
    <ipad>
      <add key="device" value="iPad Air 2" />
      <add key="realMobile" value="false" />
      <add key="os" value="ios" />
      <add key="browser" value="iPad" />
      <add key="deviceOrientation" value="portrait" />
    </ipad>
    <iphone>
      <add key="device" value="iPhone 7 Plus" />
      <add key="realMobile" value="true" />
      <add key="os" value="ios" />
      <add key="browser" value="iPhone" />
      <add key="deviceOrientation" value="portrait" />
    </iphone>
    <android>
      <add key="device" value="Samsung Galaxy S8 Plus" />
      <add key="realMobile" value="true" />
      <add key="os" value="android" />
      <add key="browser" value="Android" />
      <add key="deviceOrientation" value="portrait" />
    </android>
  </environments>
  <appSettings>
    <add key="xunit.maxParallelThreads" value="1"
      xdt:Transform="Insert" />
    <add key="xunit.parallelizeTestCollections" value="false"
      xdt:Transform="Insert" />
    <!--BrowserStack Settings-->
    <add key="browserStack.RemoteDriverUrl" value="http://hub.browserstack.com/wd/hub/"
         xdt:Transform="Insert" />
    <add key="browserStack.ApiUrl" value="https://www.browserstack.com/automate/"
         xdt:Transform="Insert" />
    <add key="browserStack.user" value="__browserStackUser__"
         xdt:Transform="Insert" />
    <add key="browserstack.key" value="__browserstackKey__"
         xdt:Transform="Insert" />
    <!--Existing User Account Settings-->
    <add key="existingUserName" value="__existingUserName__"
            xdt:Transform="Insert" />
    <add key="existingUserPassword" value="__existingUserPassword__"
            xdt:Transform="Insert" />
  </appSettings>
</configuration>