<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="rooturl" value="https://__targetUrl__"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="screenshotfolder" value="c:\temp"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RunProfile" value="Remote"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!-- DFC.Digital settings -->
    <add key="DFC.Digital.JobProfileSearchIndex" value="__jobProfileSearchIndex__"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DFC.Digital.SearchServiceName" value="__searchServiceName__"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DFC.Digital.SearchServiceAdminAPIKey" value="__searchServiceAdminApiKey__"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!-- OWASP ZAP settings -->
    <add key="zapReportPath" value="__zapReportPath__"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="zapApiKey" value="__zapApiKey__"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="zapHost" value="__zapHost__"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="zapPort" value="__zapPort__"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!--BrowserStack Settings-->
    <add key="browserStack.RemoteDriverUrl" value="http://hub.browserstack.com/wd/hub/"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="buildNumber" value=""
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="browserStack.ApiUrl" value="https://www.browserstack.com/automate/"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="browserStack.user" value="__browserStackUser__"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="browserstack.key" value="__browserstackKey__"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>