<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="rooturl" value="__targetUrl__" />
    <add key="reportPath" value="__zapReportPath__" />
    <add key="apiKey" value="__zapApiKey__" />
    <add key="host" value="__zapHost__" />
    <add key="port" value="__zapPort__" />
  </appSettings>
</configuration>