.job-profile-case-study {
    margin: 40px 0;
    display: block;
    clear: both;
    float: left;

    h3 {
        background-color: $govuk-blue;
        display: inline-block;
        width: 100%;
        color: $white;
        padding: 10px;
        font-size: 22px;
        box-sizing: border-box;
        line-height: 22px;
    }

    p {
        padding: 10px 20px 0 20px;
        width: 100%;
        float: left;
        display: block;
        box-sizing: border-box;
    }

    a {
        color: #0b0c0c;
        text-decoration: none;
        display: block;
        width: 100%;
        border-bottom: 1px solid $grey-3;
        padding: 0;
        clear: both;
        float: left;

        &:hover {
            background-color: $grey-4;

            span {
                text-decoration: underline;
            }
        }
    }

    span {
        text-align: right;
        display: inline-block;
        width: 100%;
        font-weight: bold;
        color: $govuk-blue;
    }
}

.job-profile-case-study-image {
    p {
        width: 70%;
    }


    img {
        float: left;
        width: 30%;
        display: block;
        padding: 10px;
        box-sizing: border-box;
    }
}

.case-study {

    h1 {
        font-size: 32px;
        font-weight: bold;
        margin-top: 50px;
    }

    .first {
        font-size: 24px;
        margin-top: 20px;
    }

    .case-study-columns {
        column-count: 2;
        column-gap: 40px
    }

    .case-study-back {
        display: inline-block;
        float: right;
        background-color: $govuk-blue;
        color: $white;
        padding: 10px;
        text-decoration: none;

        &:before {
            content: "<";
            margin-right: 10px;
        }

        &:hover {
            background-color: darken($govuk-blue, 5%);
            text-decoration: underline;
        }
    }
}

.case-study-profile {
    margin-top: 50px;

    h3 {
        border-bottom: 1px solid $grey-3;
        padding: 5px 0;
        margin-bottom: 20px;
    }

    .case-study-image {
        max-width: 100%;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        strong {
            font-weight: bold;
        }
    }
}

.case-study-interview {
    .question {
        font-weight: bold;
        width: 100%;
        font-size: 19px;
        clear: both;
    }

    .answer {
        width: 90%;
        float: right;

        span {
            color: $govuk-blue;
            width: 100%;
            text-align: left;
            display: inline-block;
        }
    }
}

.case-study-feedback {
    background-color: $govuk-blue;
    color: $white;
    position: relative;
    top: 91px;
    width: 100%;
    display: block;
    @include core-19;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    box-sizing: border-box;

    @media (max-width: 768px) {
        top: 31px;
    }

    a {
        color: $white;
        font-weight: normal;
        text-decoration: none;
        margin-left: 10px;

        &:hover {
            text-decoration: underline;
        }
    }
}
