.previous-next-navigation {
    margin: 0;
    padding: 0;
    @extend %contain-floats;

    li {
        @include core-14;
        float: left;
        list-style: none;
        text-align: right;
        margin: 0;
        padding: 0;
        width: 49%;

        @include media(tablet) {
            font-size: 16px;
            line-height: 1.25;
        }

        a, button {
            background-color: transparent;
            display: block;
            color: #005ea5;
            text-decoration: none;
            border: none;

            &:hover, &:active {
                background-color: $grey-4;
            }

            &:hover .page-numbers {
                text-decoration: underline;
            }

            .pagination-label {
                @include core-27;
                margin-bottom: .1em;
                display: block;

                @include media(tablet) {
                    font-size: 27px;
                    line-height: 1.25;
                }
            }
        }

        &.next {
            float: right;
            text-align: right;
            border: none;

            @media (max-width: 640px) {
                float: right;
                width: 50%;
            }

            a, button {
                padding: 15px 35px 15px 0;
                text-align: right;
                float: right;
                border: none;

                &:before {
                    background: transparent file-url("arrow-sprite.png") no-repeat -102px -11px;
                    margin: -4px -32px 0 0;
                    display: block;
                    float: right;
                    width: 30px;
                    height: 38px;
                    content: " ";
                }
            }
        }

        &.previous {
            float: left;
            text-align: left;
            border: none;

            @media (max-width: 640px) {
                float: right;
                width: 50%;
            }

            a, button {
                padding: 15px 0 15px 35px;
                float: left;
                border: none;

                &:before {
                    background: transparent file-url("arrow-sprite.png") no-repeat -20px -11px;
                    margin: -4px 0 0 -32px;
                    display: block;
                    float: left;
                    width: 30px;
                    height: 38px;
                    content: " ";
                }
            }
        }
    }

    .first, .last {
        min-height: 4.5em;

        .span {
            display: block;
            min-height: 4.5em;
            padding: .75em 5%;
            width: 90%;
        }

        .pagination-label {
            display: block;
            margin-bottom: .5em;
        }
    }
}
