.survey_container {
    @include core-19;
    color: $white;
    @extend %contain-floats;
    padding: 0 0 1em 0;
    background-color: darken($careers-turquoise, 5%);
    position: relative;
    display: none;
    overflow: hidden;
    border-bottom: 1px solid darken($careers-turquoise, 10%);

    .survey_content {
        @extend %contain-floats;
        @include box-sizing (border-box);
        position: relative;
    }

    .survey_close, .survey_open, .survey_action {
        color: $white;
        padding: 0;
        cursor: pointer;
        text-decoration: underline;
        font-weight: normal;
    }

    .survey_open {
        float: left;
    }

    .survey_close {
        top: 0;
        right: 0;
        position: absolute;
        text-decoration: underline;
    }

    .survey_content {
        .survey_email {
            margin-bottom: 1em;
        }

        .survey_input {
            border: $white;

            @include media(tablet) {
                width: 100%;
            }
        }

        .survey_label {
            color: $white;

            span {
                @include core-14;
                font-style: italic;
            }
        }

        .survey_button {
            background-color: #fff;
            color: #005ea5;
            font-weight: 700;
            -webkit-box-shadow: 0 2px 0 #d9d9d9;
            -moz-box-shadow: 0 2px 0 #d9d9d9;
            box-shadow: 0 2px 0 #d9d9d9;
            color: #21827b;
        }

        .survey_link {
            color: $white;
            margin-top: 0.65em;
            display: inline-block;
            @include core-16;
            margin-left: 1em;

            @include media(mobile) {
                margin-left: 0;
            }
        }

        h3 {
            @include media(mobile) {
                margin-right: 50px;
            }
        }

        .survey_form {
            @include media(desktop) {
                max-width: 66.66667%;
            }
        }
    }
}

.survey_container.visible {
    display: block;
}