.webchat-header {
    background-color: $black;
    color: $white;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    float: left;


    h1 {
        font-size: 18px;
        margin: 0;
        padding: 0;
        float: left;
        margin-bottom: 13px;

        &:before {
            content: file-url("webchat.svg");
            width: 30px;
            margin-right: 10px;
            display: inline-block;
            position: relative;
            top: 9px;
        }
    }

    a {
        text-decoration: none;
        color: white;
        float: right;
        margin-top: 12px;

        &:hover {
            text-decoration: underline;
        }
    }
}
