@model DFC.Digital.Web.Sitefinity.JobProfileModule.Mvc.Models.JobProfileWhatYouWillDoViewModel
@if (Model.Locations.Any() || Model.Uniforms.Any() || Model.Environments.Any())
{
    <section class="job-profile-subsection" id="workingenvironment">
        <h3>@Model.EnvironmentTitle</h3>
        <div class="job-profile-subsection-content">
            @if (Model.Locations.Any())
            {
                foreach (var location in Model.Locations)
                {
                    <p>@location</p>
                }
            }
            @if (Model.Environments.Any())
            {
                foreach (var environment in Model.Environments)
                {
                    <p>@environment</p>
                }
            }
            @if (Model.Uniforms.Any())
            {
                foreach (var uniform in Model.Uniforms)
                {
                <p>@uniform</p>
                }
                
            }
        </div>
    </section>
}