<div class="filters">
    <button type="submit" class="govuk-button filter-button">Filter 1</button><button type="submit" class="govuk-button filter-button  active">Filter 2</button>
    <div class="filter-box">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="option-1" name="option 1" type="checkbox" value="Option1" /><label class="govuk-label govuk-checkboxes__label govuk-!-font-size-16" for="Option-1">
                        Option 1
                    </label>
                </div>
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="option-2" name="option 2" type="checkbox" value="Option2" /><label class="govuk-label govuk-checkboxes__label govuk-!-font-size-16" for="Option-2">
                        Option 2
                    </label>
                </div>
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="option-3" name="option 3" type="checkbox" value="Option3" /><label class="govuk-label govuk-checkboxes__label govuk-!-font-size-16" for="Option-3">
                        Option 3
                    </label>
                </div>
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="option-4" name="option 4" type="checkbox" value="Option4" /><label class="govuk-label govuk-checkboxes__label govuk-!-font-size-16" for="Option-4">
                        Option 4
                    </label>
                </div>
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="option-5" name="option 5" type="checkbox" value="Option5" /><label class="govuk-label govuk-checkboxes__label govuk-!-font-size-16" for="Option-5">
                        Option 5
                    </label>
                </div>
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="option-6" name="option 6" type="checkbox" value="Option6" /><label class="govuk-label govuk-checkboxes__label govuk-!-font-size-16" for="Option-6">
                        Option 6
                    </label>
                </div>
            </div>
        </fieldset>
    </div><button type="submit" class="govuk-button filter-button">Filter 3</button>
</div>