@using DFC.Digital.Data.Model;
@model CourseDetailsViewModel


<div class="govuk-grid-row">

    @if (Model.CourseDetails.AttendanceMode == "ClassroomBased")
    {
        @Html.Partial("ClassroomCourseDetails", Model)
    }
    else if (Model.CourseDetails.AttendanceMode == "Online")
    {
        @Html.Partial("OnlineCourseDetails", Model)
    }
    else{
        @Html.Partial("WorkBasedCourseDetails", Model)
    }
    
</div>