@model DFC.Digital.Data.Model.CourseDetails

<h2 class="govuk-heading-m" id="other-dates-and-venues">7. Other dates and venues</h2>
<table class="govuk-table k-table">
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <th class="govuk-table__header">Venue</th>
            <th class="govuk-table__header">Start date</th>
            <th class="govuk-table__header">Options</th>
        </tr>
        @if (Model.OtherDatesAndVenues != null)
        {
            foreach (var venue in Model.OtherDatesAndVenues)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">@venue.VenueName</td>
                    <td class="govuk-table__cell">@venue.StartDate</td>
                    <td class="govuk-table__cell">
                        <a class="govuk-link" href="@venue.Options">View course</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">@Model.NoOtherDateOrVenueAvailableMessage</td>
            </tr>
        }

    </tbody>
</table>