<div class="govuk-width-container">
    <div class="govuk-grid-row" data-sf-element="Row">
        <div class="sf_colsIn column-quarter" data-sf-element="Column 1" data-placeholder-label="One Quarter Column One">
        </div>
        <div class="sf_colsIn column-quarter" data-sf-element="Column 2" data-placeholder-label="One Quarter Column Two">
        </div>
        <div class="sf_colsIn column-quarter" data-sf-element="Column 3" data-placeholder-label="One Quarter Column Three">
        </div>
        <div class="sf_colsIn column-quarter" data-sf-element="Column 4" data-placeholder-label="One Quarter Column Four">
        </div>
    </div>
</div>