<?xml version="1.0" encoding="utf-8"?>
<dynamicModulesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="12.2.7224.0">
	<providers>
		<add title="dfc-beta Job Profile" applicationName="dynamicProvider2" moduleName="Job Profile" type="Telerik.Sitefinity.DynamicModules.Data.OpenAccessDynamicModuleProvider, Telerik.Sitefinity" name="dynamicProvider2" />
		<add title="dfc-beta Test Job Profiles" applicationName="dynamicProvider3" moduleName="Test Job Profiles" type="Telerik.Sitefinity.DynamicModules.Data.OpenAccessDynamicModuleProvider, Telerik.Sitefinity" name="dynamicProvider3" />
	</providers>
</dynamicModulesConfig>