<?xml version="1.0" encoding="utf-8"?>
<resourcesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.2.6602.0" defaultCultureKey="english (united kingdom)-en-gb" multilingual="True">
	<cultures>
		<add culture="en-GB" uiCulture="en-GB" key="english (united kingdom)-en-gb" />
	</cultures>
</resourcesConfig>