<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.2.6602.0" authCookieName=".SFAUTH-dfc-beta" rolesCookieName=".SFROLES-dfc-beta" validationKey="__sitefinitySecurityValidationKey__" decryptionKey="__sitefinitySecurityDecryptionKey__" loggingCookieName=".SFLOG-dfc-beta" disableHtmlSanitization="True">
  <securityTokenIssuers>
    <add key="__securityTokenIssuers__" membershipProvider="Default" realm="http://localhost" />
  </securityTokenIssuers>
  <relyingParties>
    <add key="__securityRelyingParties__" realm="http://localhost" />
  </relyingParties>
  <applicationRoles>
    __sitefinitySecurityRolesSection__
  </applicationRoles>
  <membershipProviders>
    <add minRequiredNonalphanumericCharacters="1" minRequiredPasswordLength="8" passwordStrengthRegularExpression="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&amp;])[A-Za-z\d$@$!%*#?&amp;]{8,}$" enablePasswordReset="true" name="Default" config:flags="1" />
  </membershipProviders>
</securityConfig>