<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.2.6602.0" authCookieName=".SFAUTH-dfc-beta" rolesCookieName=".SFROLES-dfc-beta" validationKey="__sitefinitySecurityValidationKey__" decryptionKey="__sitefinitySecurityDecryptionKey__" loggingCookieName=".SFLOG-dfc-beta" disableHtmlSanitization="True">
  <securityTokenIssuers>
    <add key="__securityTokenIssuers__" membershipProvider="Default" realm="http://localhost" />
  </securityTokenIssuers>
  <relyingParties>
    <add key="__securityRelyingParties__" realm="http://localhost" />
  </relyingParties>
  <applicationRoles>
    <role id="a0034545-feb0-4b28-89d2-c42d3c61a5eb" name="Everyone" config:flags="1" />
    <role id="41e3f747-e7e7-479e-9f23-facdd40254c4" name="Anonymous" config:flags="1" />
    <role id="96059718-75b8-44f0-8d30-3251104628ce" name="Authenticated" config:flags="1" />
    <role id="050cd9d4-0686-43c7-89e1-ab5dcb4219ac" name="Owner" config:flags="1" />
    <role id="667f9d1b-75a7-446b-bf90-65c9619eb0e5" name="Administrators" config:flags="1" />
    <role id="59c7fb6c-caa8-4d3a-93bf-144f2e7949c9" name="BackendUsers" config:flags="1" />
    <role id="7cb51f65-6ea8-4340-9044-907bdc8d9207" name="Authors" config:flags="1" />
    <role id="88f224c1-0867-427a-90a3-5c995e0a630e" name="Editors" config:flags="1" />
    <role id="1aa70fbb-d054-456a-8869-d5d7b82b3b07" name="Designers" config:flags="1" />
    <role id="b8c044d5-25b5-40ea-ad5c-2220971bb988" name="Users" config:flags="1" />
  </applicationRoles>
  <membershipProviders>
    <add minRequiredNonalphanumericCharacters="1" minRequiredPasswordLength="8" passwordStrengthRegularExpression="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&amp;])[A-Za-z\d$@$!%*#?&amp;]{8,}$" enablePasswordReset="true" name="Default" config:flags="1" />
  </membershipProviders>
</securityConfig>