<?xml version="1.0" encoding="utf-8"?>
<systemConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="12.2.7224.0">
	<applicationModules>
		<add startupType="Disabled" name="Personalization" config:flags="1" />
		<add startupType="Disabled" name="Ecommerce" config:flags="1" />
		<add startupType="Disabled" name="WebSecurity" config:flags="1" />
	</applicationModules>
	<typeImplementationsMapping>
		<add type="Telerik.Sitefinity.Web.UI.Backend.Elements.Config.WidgetElement, Telerik.Sitefinity" config:key="2" config:flags="1" />
		<add type="Telerik.Sitefinity.Web.UI.ContentUI.Config.ContentViewDefinitionElement, Telerik.Sitefinity" config:key="3" config:flags="1" />
		<add type="Telerik.Sitefinity.Web.UI.Fields.Config.FieldDefinitionElement, Telerik.Sitefinity" config:key="4" config:flags="1" />
		<add type="Telerik.Sitefinity.Web.UI.Fields.Config.FieldControlDefinitionElement, Telerik.Sitefinity" config:key="5" config:flags="1" />
	</typeImplementationsMapping>
	<outputCacheSettings defaultProfile="DFC">
		<profiles>
			<add varyByParams="*" name="No Caching" config:flags="1" />
			<add varyByParams="*" name="Standard Caching" config:flags="1" />
			<add varyByParams="*" name="Long Caching" config:flags="1" />
			<add varyByParams="*" name="Any Location" config:flags="1" />
			<add location="ServerAndClient" duration="7200" slidingExpiration="False" maxAge="600" varyByParams="*" name="DFC" />
		</profiles>
	</outputCacheSettings>
	<cacheManagers>
		<add startScavengingAfterItemCount="10000" whenScavengingRemoveItemCount="100" name="MarketoConnectorCache" />
	</cacheManagers>
	<contentLocationsSettings>
		<pageDefaultCanonicalUrlSettings enable="False" />
	</contentLocationsSettings>
	<seoAndOpenGraphConfig enabledSEO="False" enabledOpenGraph="False" />
</systemConfig>