<?xml version="1.0" encoding="utf-8"?>
<systemConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.2.6602.0">
  <applicationModules>
    <add startupType="Disabled" name="Ecommerce" config:flags="1" />
    <add startupType="Disabled" name="Personalization" config:flags="1" />
  </applicationModules>
  <cacheManagers>
    <add startScavengingAfterItemCount="10000" whenScavengingRemoveItemCount="100" name="MarketoConnectorCache" />
  </cacheManagers>
  <seoAndOpenGraphConfig enabledSEO="False" enabledOpenGraph="False" />
</systemConfig>