<?xml version="1.0" encoding="utf-8"?>
<webServicesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.2.6602.0">
  <Routes>
    <add name="Frontend" config:flags="1">
      <services>
        <add name="das-integration" urlName="das-integration">
          <types>
            <add urlName="apprenticeshipvacancies" clrType="Telerik.Sitefinity.DynamicTypes.Model.JobProfile.ApprenticeshipVacancy" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api" />
            <add urlName="jobprofilesocs" clrType="Telerik.Sitefinity.DynamicTypes.Model.JobProfile.JobProfileSoc" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api">
              <propertyMappings>
                <add ResolverType="Telerik.Sitefinity.Web.Services.Contracts.TaxonomyRelationResolver" propName="apprenticeshipframeworks" Name="NavigateToApprenticeshipFramework" type:this="Telerik.Sitefinity.Web.Api.Configuration.NavigationPropertyMapping, Telerik.Sitefinity.Web.Api" />
                <add ResolverType="Telerik.Sitefinity.Web.Services.Contracts.TaxonomyRelationResolver" propName="apprenticeshipstandards" Name="NavigateToApprenticeshipStandard" type:this="Telerik.Sitefinity.Web.Api.Configuration.NavigationPropertyMapping, Telerik.Sitefinity.Web.Api" />
              </propertyMappings>
              <methods>
                <add QueryString="$expand=NavigateToApprenticeshipStandard($select=UrlName),NavigateToApprenticeshipFramework($select=UrlName)&amp;$orderby=SOCCode" Name="mapping" />
              </methods>
            </add>
            <add urlName="flat-taxa" clrType="Telerik.Sitefinity.Taxonomies.Model.FlatTaxon" />
          </types>
        </add>
      </services>
    </add>
  </Routes>
</webServicesConfig>