<?xml version="1.0" encoding="utf-8"?>
<webServicesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.2.6628.0">
	<Routes>
		<add name="Frontend" config:flags="1">
			<services>
				<add name="das-integration" urlName="das-integration">
					<types>
						<add urlName="apprenticeshipvacancies" clrType="Telerik.Sitefinity.DynamicTypes.Model.JobProfile.ApprenticeshipVacancy" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api" />
						<add urlName="jobprofilesocs" clrType="Telerik.Sitefinity.DynamicTypes.Model.JobProfile.JobProfileSoc" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api">
							<propertyMappings>
								<add ResolverType="Telerik.Sitefinity.Web.Services.Contracts.TaxonomyRelationResolver" propName="apprenticeshipframeworks" Name="NavigateToApprenticeshipFramework" type:this="Telerik.Sitefinity.Web.Api.Configuration.NavigationPropertyMapping, Telerik.Sitefinity.Web.Api" />
								<add ResolverType="Telerik.Sitefinity.Web.Services.Contracts.TaxonomyRelationResolver" propName="apprenticeshipstandards" Name="NavigateToApprenticeshipStandard" type:this="Telerik.Sitefinity.Web.Api.Configuration.NavigationPropertyMapping, Telerik.Sitefinity.Web.Api" />
							</propertyMappings>
							<methods>
								<add QueryString="$expand=NavigateToApprenticeshipStandard($select=UrlName),NavigateToApprenticeshipFramework($select=UrlName)&amp;$orderby=SOCCode" Name="mapping" />
							</methods>
						</add>
						<add urlName="flat-taxa" clrType="Telerik.Sitefinity.Taxonomies.Model.FlatTaxon" />
					</types>
				</add>
				<add name="jp-integration" urlName="jp-integration">
					<types>
						<add urlName="jobprofiles" access="Authenticated" clrType="Telerik.Sitefinity.DynamicTypes.Model.JobProfile.JobProfile" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api">
							<propertyMappings>
								<add SelectedByDefault="True" Name="HiddenAlternativeTitle" config:flags="1" />
								<add SelectedByDefault="True" Name="WorkingHoursDetails" config:flags="1" />
								<add SelectedByDefault="True" Name="ApprenticeshipEntryRequirements" config:flags="1" />
								<add SelectedByDefault="True" Name="WorkingPatternDetails" config:flags="1" />
								<add SelectedByDefault="True" Name="JobProfileCategories" config:flags="1" />
								<add SelectedByDefault="True" Name="CollegeEntryRequirements" config:flags="1" />
								<add SelectedByDefault="True" Name="WorkingPattern" config:flags="1" />
								<add SelectedByDefault="True" Name="JobProfileSpecialism" config:flags="1" />
								<add SelectedByDefault="True" Name="UniversityEntryRequirements" config:flags="1" />
								<add PersistentName="IncludeInSitemap" Description="IncludeInSitemap" Name="IncludeInSitemap" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
							</propertyMappings>
						</add>
            <add urlName="apprenticeshiplinks" access="Authenticated" clrType="Telerik.Sitefinity.DynamicTypes.Model.JobProfile.ApprenticeshipLink" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api">
              <propertyMappings>              
                <add PersistentName="IncludeInSitemap" Description="IncludeInSitemap" Name="IncludeInSitemap" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
              </propertyMappings>
            </add>
						<add urlName="apprenticeshiprequirements" access="Authenticated" clrType="Telerik.Sitefinity.DynamicTypes.Model.JobProfile.ApprenticeshipRequirement" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api" >
               <propertyMappings>              
                <add PersistentName="IncludeInSitemap" Description="IncludeInSitemap" Name="IncludeInSitemap" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
              </propertyMappings>
            </add>
						<add urlName="apprenticeshipvacancies" access="Authenticated" clrType="Telerik.Sitefinity.DynamicTypes.Model.JobProfile.ApprenticeshipVacancy" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api">
              <propertyMappings>
                <add PersistentName="IncludeInSitemap" Description="IncludeInSitemap" Name="IncludeInSitemap" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
              </propertyMappings>
            </add>
						<add urlName="careerfocus" access="Authenticated" clrType="Telerik.Sitefinity.DynamicTypes.Model.PreSearchFilters.CareerFocus" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api">
              <propertyMappings>
                <add PersistentName="IncludeInSitemap" Description="IncludeInSitemap" Name="IncludeInSitemap" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
              </propertyMappings>
            </add>
						<add urlName="collegelinks" access="Authenticated" clrType="Telerik.Sitefinity.DynamicTypes.Model.JobProfile.CollegeLink" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api">
              <propertyMappings>
                <add PersistentName="IncludeInSitemap" Description="IncludeInSitemap" Name="IncludeInSitemap" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
              </propertyMappings>
            </add>
						<add urlName="collegerequirements" access="Authenticated" clrType="Telerik.Sitefinity.DynamicTypes.Model.JobProfile.CollegeRequirement" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api">
              <propertyMappings>
                <add PersistentName="IncludeInSitemap" Description="IncludeInSitemap" Name="IncludeInSitemap" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
              </propertyMappings>
            </add>
						<add urlName="registrations" access="Authenticated" clrType="Telerik.Sitefinity.DynamicTypes.Model.JobProfile.Registration" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api">
              <propertyMappings>
                <add PersistentName="IncludeInSitemap" Description="IncludeInSitemap" Name="IncludeInSitemap" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
              </propertyMappings>
            </add>
						<add urlName="restrictions" access="Authenticated" clrType="Telerik.Sitefinity.DynamicTypes.Model.JobProfile.Restriction" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api">
              <propertyMappings>
                <add PersistentName="IncludeInSitemap" Description="IncludeInSitemap" Name="IncludeInSitemap" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
              </propertyMappings>
            </add>
						<add urlName="trainingroutes" access="Authenticated" clrType="Telerik.Sitefinity.DynamicTypes.Model.PreSearchFilters.TrainingRoute" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api">
              <propertyMappings>
                <add PersistentName="IncludeInSitemap" Description="IncludeInSitemap" Name="IncludeInSitemap" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
              </propertyMappings>
            </add>
						<add urlName="universitylinks" access="Authenticated" clrType="Telerik.Sitefinity.DynamicTypes.Model.JobProfile.UniversityLink" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api">
              <propertyMappings>
                <add PersistentName="IncludeInSitemap" Description="IncludeInSitemap" Name="IncludeInSitemap" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
              </propertyMappings>
            </add>
						<add urlName="universityrequirements" access="Authenticated" clrType="Telerik.Sitefinity.DynamicTypes.Model.JobProfile.UniversityRequirement" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api">
              <propertyMappings>
                <add PersistentName="IncludeInSitemap" Description="IncludeInSitemap" Name="IncludeInSitemap" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
              </propertyMappings>
            </add>
						<add urlName="taxonomies" access="Authenticated" clrType="Telerik.Sitefinity.Taxonomies.Model.Taxonomy" />
						<add urlName="flat-taxa" access="Authenticated" clrType="Telerik.Sitefinity.Taxonomies.Model.FlatTaxon" />
						<add urlName="hierarchy-taxa" access="Authenticated" clrType="Telerik.Sitefinity.Taxonomies.Model.HierarchicalTaxon" />
						<add urlName="jobprofilesocs" access="Authenticated" clrType="Telerik.Sitefinity.DynamicTypes.Model.JobProfile.JobProfileSoc" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api">
              <propertyMappings>
                <add PersistentName="IncludeInSitemap" Description="IncludeInSitemap" Name="IncludeInSitemap" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
              </propertyMappings>
            </add>
						<add urlName="environments" access="Authenticated" clrType="Telerik.Sitefinity.DynamicTypes.Model.JobProfile.Environment" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api" >
               <propertyMappings>
                <add PersistentName="IncludeInSitemap" Description="IncludeInSitemap" Name="IncludeInSitemap" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
              </propertyMappings>
            </add>
						<add urlName="locations" access="Authenticated" clrType="Telerik.Sitefinity.DynamicTypes.Model.JobProfile.Location" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api">
              <propertyMappings>
                <add PersistentName="IncludeInSitemap" Description="IncludeInSitemap" Name="IncludeInSitemap" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
              </propertyMappings>
            </add>
						<add urlName="uniforms" access="Authenticated" clrType="Telerik.Sitefinity.DynamicTypes.Model.JobProfile.Uniform" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api">
              <propertyMappings>
                <add PersistentName="IncludeInSitemap" Description="IncludeInSitemap" Name="IncludeInSitemap" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
              </propertyMappings>
            </add>
					</types>
				</add>
			</services>
		</add>
	</Routes>
</webServicesConfig>