@model DFC.Digital.Web.Sitefinity.Widgets.Mvc.Models.ServiceStatusModel
    <div class="content-container">
        <h2 class="heading-medium">Service Status</h2>
        <h2 class="heading-small">At : @Model.CheckDateTime</h2>
        <div class="grid-row">
           @foreach (var status in Model.ServiceStatues)
           { 
               <div class="column-40">
                   @status.Name
               </div>
               <div class="column-40">
                   @status.Status
               </div>
               <div class="column-40">
                    @status.Notes
               </div>
           }
         </div>
    </div>
}
