@model DFC.Digital.Web.Sitefinity.ContactAdviserModule.Mvc.Models.ContactAdviserViewModel

<div class="grid-row">
    <div class="column-two-thirds">


        <h1 class="heading-xlarge">Contact us</h1>

        <p>Please fill out your details below so that we can get back to you as quickly as possible.</p>
        <form class="form form-intro">



            <div class="form-group">
                <label class="form-label" for="first-name">First Name</label>
                <input class="form-control" id="first-name" type="text" name="first-name">
            </div>

            <div class="form-group">
                <label class="form-label" for="surname">Surname</label>
                <input class="form-control" id="surname" type="text" name="surname">
            </div>

            <div class="form-group">
                <label class="form-label" for="email">Email address</label>
                <input class="form-control" id="email" type="text" name="email">
            </div>

            <div class="form-group">
                <label class="form-label" for="confirm-email">Confirm email</label>
                <input class="form-control" id="confirm-email" type="text" name="confirm-email">
            </div>

            <a href="select-option" class="button" type="button">Next</a>




        </form>
    </div>
    <div class="column-one-third">
        <aside class="govuk-related-items govuk-related-items-bau" role="complementary">
            <h2 class="heading-medium">Want to speak to an adviser?</h2>
            <p class="font-small" style="margin-bottom: 0px;"><span class="bold-small">Call </span>0800 100 900 or <a style="white-space: nowrap;" href="https://cxdirect.serco.com/visitor/EntryPage.htm" rel="external" target="'_blank'">use webchat</a></p>
            <p class="grey font-xsmall">8am to 10pm, 7 days a week</p>
        </aside>
    </div>
</div>