@model DFC.Digital.Web.Sitefinity.ContactUsModule.Mvc.Models.ContactUsResultViewModel
    
<h1 class="govuk-heading-xl">Thank you for contacting us</h1>
<p class="govuk-body-m">@Html.Raw(Model.Message)</p>
<p class="govuk-body-m"><a href="/">Return to the Explore careers home page</a></p>