<header class="govuk-header " role="banner" data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container">

        <a href="#" class="govuk-header__link govuk-header__link--service-name">
            National Careers Service
        </a>

        <button type="button" role="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
        <nav>
            <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
                <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
                    <a href="/" class="govuk-header__link" target="_self">Explore careers <span class="govuk-tag govuk-phase-banner__content__tag">BETA</span></a>
                </li>
                <li class="govuk-header__navigation-item">
                    <a href="https://nationalcareersservice.direct.gov.uk/skills-health-check" class="govuk-header__link" target="_self">Skills health check</a>
                </li>
                <li class="govuk-header__navigation-item">
                    <a href="https://nationalcareersservice.direct.gov.uk/course-directory" class="govuk-header__link" target="_self">Find a course</a>
                </li>
                <li class="govuk-header__navigation-item">
                    <a href="https://nationalcareersservice.direct.gov.uk/contact-an-adviser" class="govuk-header__link" target="_self">Contact an adviser</a>
                </li>
                <li class="govuk-header__navigation-item">
                    <a href="https://nationalcareersservice.direct.gov.uk/about-us" class="govuk-header__link" target="_self">About us</a>
                </li>
                <li class="govuk-header__navigation-item">
                    <a href="https://nationalcareersservice.direct.gov.uk/get-a-job" class="govuk-header__link" target="_self">Help to get a job</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
