<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
<div id="global-cookie-message" class="app-cookie-banner js-cookie-banner">
    <p class="govuk-width-container">National Careers Service uses cookies to make the site simpler. <a href="/help/privacy-and-cookies">Find out more about privacy and cookies.</a></p>
</div>