<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
<div id="global-cookie-message">
    <p>Find a career uses cookies to make the site simpler. <a href="/help/cookies">Find out more about cookies</a></p>
</div>