@model  DFC.Digital.Web.Sitefinity.JobProfileModule.Mvc.Models.JobProfileHowToBecomeViewModel

<section id="how-to-become">
    <h2 class="heading-large job-profile-heading">How to become</h2>
    <p>You could develop the skills you need for this role by:</p>
    <ul>
        <li>studying at university or college</li>
        <li>doing an apprenticeship</li>
        <li>getting paid or voluntary work experience</li>
    </ul>
    <p>When you're applying for work, you'll need to have evidence of your skills and technical abilities through a portfolio, or online testimonies.</p>
    <section class="job-profile-subsection" id="university">
        <h3>University</h3>
        <div class="job-profile-subsection-content">
            <p>You could do a foundation degree, Higher National Diploma (HND) or degree. Relevant subjects include:</p>
            <ul>
                <li>web design and development</li>
                <li>computer science</li>
                <li>digital media development</li>
                <li>software engineering</li>
            </ul>
            <h4>Requirements</h4>
            <p>You'll usually need:</p>
            <ul>
                <li>2 to 3 A levels for a degree</li>
            </ul>
            <h4>More information</h4>
            <ul class="list-link">
                <li><a class="htb-feature" href="https://www.ucas.com/">UCAS has information on degree courses and entry requirements.</a></li>
                <li><a class="htb-feature" href="https://www.gov.uk/student-finance">You can apply for student finance to cover fees and living costs.</a></li>
            </ul>
        </div>
    </section>
    <section class="job-profile-subsection" id="college">
        <h3>College</h3>
        <div class="job-profile-subsection-content">
            <p>You could do a level 2, 3 or 4 course in web development. These can last from a few months to a year.</p>
            <h4>Requirements</h4>
            <p>You'll usually need:</p>
            <ul>
                <li>5 GCSEs at grades 9 to 4 (A* to C) including English and maths</li>
            </ul>
            <h4>More information</h4>
            <ul class="list-link">
                <li><a class="htb-feature" href="https://www.gov.uk/further-education-courses/financial-help">You may be able to get financial help to do a course.</a></li>
                <li><a class="htb-feature" href="https://nationalcareersservice.direct.gov.uk/course-directory/home">Find a web development course near you.</a></li>
            </ul>
        </div>
    </section>

    <section class="job-profile-subsection" id="apprenticeship">
        <h3>Apprenticeship</h3>
        <div class="job-profile-subsection-content">
            <p>There are 3 levels of apprenticeship you could do in IT, software, web and telecoms professionals. These are <a href="https://www.gov.uk/apprenticeships-guide">intermediate, advanced and higher apprenticeship</a>. These could take up to 2 and a half years to complete.</p>
            <p>Alternatively, if you have A levels, you could go straight into a higher apprenticeship lasting 18 months.</p>
            <h4>Requirements</h4>
            <p>You'll usually need:</p>
            <ul class="list list-bullet">
                <li>5 GCSEs at grades 9 to 4 (A* to C) including English and maths</li>
                <li>2 to 3 A levels for a higher apprenticeship</li>
            </ul>
            <h4>More information:</h4>
            <ul class="list-link">
                <li><a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels" class="htb-feature">You may be able to use equivalent level qualifications to get onto a course.</a></li>
            </ul>
        </div>
    </section>
</section>
