<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="dfc" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" /></configSections>
  
  <dfc>
    <add key="browsers" value="chrome" />
    <!--<add key ="browsers" value="chrome, macchrome, firefox, macfirefox, safari, ie8, ie9,-->
    <!--ie10, ie11, opera, edge, ipad, iphone, android" />-->
  </dfc>
<specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="xUnit" /></specFlow></configuration>